@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white-200;
    @apply font-roboto;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-5;
    @apply font-baloo;
    @apply leading-1;
  }
}

@layer utilities {
  .item-list-higlight {
    @apply text-brown-100;
    @apply font-normal;
    @apply leading-1;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}